// Grid
$xl: 1600px;
$lg: 1200px;
$md: 768px;
$sm: 576px;
$gutter: 30px;
$container: $xl;

// Colors
$bg: #000;
$white: #EDEBEE;
$grey: #9A9CA0;
$greyDark: #616366;
$greyPale: #C2C3C7;

$text: $white;

$radius: 3px;

// Transitions
@mixin easeSineIn {
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
}
@mixin easeSineOut {
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
}
