// Grid
$xl: 1600px;
$lg: 1200px;
$md: 768px;
$sm: 576px;
$gutter: 30px;
$container: $lg;

// Colors
$bg: #000000;
$white: #EDEBEE;
$grey: #9A9CA0;
$greyDark: #616366;
$greyPale: #C2C3C7;

$text: $white;

$electro: #B17891;
$rock: #008DD4;
$hip_hop: #A3DA59;
$rb: #F1EB0D;
$latin: #FE9700;
$pop: #EB7071;
$dance: #E22A3A;

$women: #EB5BA7;
$men: #0072A0;
