.btn {
  display: inline-block;
  margin-right: 20px;
  padding: 1rem 1.5rem;
  color: $white;
  text-align: center;
  text-decoration: none;
  background: transparent;
  border: 2px solid $white;
  border-radius: $radius;
  transition-property: all;
  @include easeSineIn;
  &:hover, &:focus {
    color: $bg;
    background: $white;
    border-color: $white;
    transition-property: all;
    @include easeSineOut;
  }

  &.btn-dark {
    color: $bg;
    border-color: $bg;
    &:hover, &:focus {
      color: $white;
      background: $accent;
      border-color: $accent;
    }
  }

  &.btn-large {
    padding: 10px 20px 10px 15px;
    span {
      display: inline-block;
      vertical-align: middle;
      &.icon {
        margin-right: 8px;
        width: 27px;
      }
    }
    svg path {
      transition-property: fill;
      @include easeSineIn;
    }
    &:hover, &:focus {
      svg path {
        fill: $bg;
        transition-property: fill;
        @include easeSineOut;
      }
    }
  }
}