// Track description
.info-title {
  font-size: 15px;
  font-weight: 700;
  }
.info-title,
.stream-number .number {
  font-weight: 700;
}
.info-artist {
  font-size: 1.3rem;
}
.info-genre-year {
  font-size: 1.1rem;
}

// Info revealed on rollover
.info-supplement {
  position: absolute;
  z-index: 100;
  top: 280px;
  left: -40px;
  right: -40px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 0;
  font-size: 1.2rem;
  background-color: $bg;
  border: 1px solid $white;
  border-radius: $radius;
  opacity: 0;
  overflow: hidden;
  transition-property: all;
  @include easeSineIn;
  .stream-number {
    padding-bottom: 5px;
    font-size: 1.4rem;
    text-align: center;
    border-bottom: 1px solid $text;
  }
  ul {
    margin: 0;
    padding-top: 15px;
    padding-left: 0;
    list-style: none;
    li {
      margin: 5px 0;
    }
  }
  .info-label {
    font-weight: 700;
  }
  .album,
  .num-appearance {
    padding-top: 10px;
  }
}
.viz-container {
  &:hover, &:focus {
    .info-supplement {
      padding-top: 20px;
      padding-bottom: 20px;
      max-height: 250px;
      opacity: 1;
      transition-property: all;
      @include easeSineOut;
    }
  }
}